body {
  margin: 0;
  padding: 0;
  overflow: hidden
}

#map {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 120px;
    padding: 6px;
    font: 12px sans-serif;
    background: rgb(190, 86, 83);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.ui-brush {
  background:   rgb(122, 122, 122);
  position:absolute;
  bottom:0;right:0;left:0;
  height:100px;
  }
.brush .extent {
  stroke:#fff;
  fill-opacity: 1;
  shape-rendering:crispEdges;
  }